streamlit
requests
fastapi
uvicorn
pydantic
langchain
langchain-core
langchain-community
langchain-groq
langchain-huggingface
langchain-chroma
chromadb
sentence-transformers
torch
transformers
pypdf
rank-bm25
python-multipart
python-dotenv
